<div class="row">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="/img/teste1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Investimento Fixo</h5>
                <p class="card-text">Cursos, ferramentas e outros gastos que não se revertem diretamente em jóias.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Matéria Prima</h5>
                <p class="card-text">Compra de matéria prima para a fabricação das peças.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Produto</h5>
                <p class="card-text">Peças produzidas e tal.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vendas</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 4rem;">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cadastro auxiliar</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Clientes</a>
                <a href="#" class="card-link">Fornecedores</a>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cobranças</h5>
                <p class="card-text">Controle de pagamentos...</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dados Financeiros</h5>
                <p class="card-text">Saúde da empresa.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Relatórios</h5>
                <p class="card-text">Reports em geral.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

