@model IEnumerable<Lumia.Application.Clientes.Queries.GetClienteList.ClienteModel>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
            </tr>
        }
    </tbody>
</table>
